WEB_ConsultaInstructor/Connected Services/ProxyReserva/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioReserva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioReserva_ContarReservasTotales_InputMessage">
    <wsdl:part name="parameters" element="tns:ContarReservasTotales" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ContarReservasTotales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContarReservasTotalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ContarReservasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ContarReservasCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ContarReservasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContarReservasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ObtenerFechaReservaPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaReservaPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ObtenerFechaReservaPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaReservaPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservaClienteFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservaClienteFechas" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservaClienteFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservaClienteFechasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioReserva">
    <wsdl:operation name="ContarReservasTotales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ContarReservasTotales" message="tns:IServicioReserva_ContarReservasTotales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ContarReservasTotalesResponse" message="tns:IServicioReserva_ContarReservasTotales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContarReservasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ContarReservasCliente" message="tns:IServicioReserva_ContarReservasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ContarReservasClienteResponse" message="tns:IServicioReserva_ContarReservasCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaReservaPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ObtenerFechaReservaPorCodigo" message="tns:IServicioReserva_ObtenerFechaReservaPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ObtenerFechaReservaPorCodigoResponse" message="tns:IServicioReserva_ObtenerFechaReservaPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservaClienteFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservaClienteFechas" message="tns:IServicioReserva_ListarReservaClienteFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservaClienteFechasResponse" message="tns:IServicioReserva_ListarReservaClienteFechas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioReserva" type="tns:IServicioReserva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContarReservasTotales">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ContarReservasTotales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarReservasCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ContarReservasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaReservaPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ObtenerFechaReservaPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservaClienteFechas">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservaClienteFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioReserva">
    <wsdl:port name="BasicHttpBinding_IServicioReserva" binding="tns:BasicHttpBinding_IServicioReserva">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_ReservaYoga/ServicioReserva/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>