WEB_ConsultaInstructor/Connected Services/ProxyReserva/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" />
  <xs:element name="ContarReservasTotales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContarReservasTotalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContarReservasTotalesResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContarReservasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContarReservasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContarReservasClienteResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFechaReservaPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoReserva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFechaReservaPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerFechaReservaPorCodigoResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservaClienteFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:short" />
        <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservaClienteFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" minOccurs="0" name="ListarReservaClienteFechasResult" nillable="true" type="q1:ArrayOfReservaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>