WEB_ConsultaInstructor/Connected Services/ProxyReserva/WCF_ReservaYoga.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReservaDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaDC" nillable="true" type="tns:ReservaDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaDC" nillable="true" type="tns:ArrayOfReservaDC" />
  <xs:complexType name="ReservaDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_resv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstRev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_resv" type="xs:short" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_resv" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Cliente" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_reg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaDC" nillable="true" type="tns:ReservaDC" />
</xs:schema>