WCF_ReservaYoga/WEB_ConsultaInstructor/Connected Services/ProxyInstructor/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioInstructor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioInstructor_InsertarInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_InsertarInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ActualizarInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ActualizarInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_EliminarInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_EliminarInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ConsultarInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ConsultarInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ListarInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarInstructor" />
  </wsdl:message>
  <wsdl:message name="IServicioInstructor_ListarInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarInstructorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioInstructor">
    <wsdl:operation name="InsertarInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/InsertarInstructor" message="tns:IServicioInstructor_InsertarInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/InsertarInstructorResponse" message="tns:IServicioInstructor_InsertarInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/ActualizarInstructor" message="tns:IServicioInstructor_ActualizarInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/ActualizarInstructorResponse" message="tns:IServicioInstructor_ActualizarInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/EliminarInstructor" message="tns:IServicioInstructor_EliminarInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/EliminarInstructorResponse" message="tns:IServicioInstructor_EliminarInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/ConsultarInstructor" message="tns:IServicioInstructor_ConsultarInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/ConsultarInstructorResponse" message="tns:IServicioInstructor_ConsultarInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioInstructor/ListarInstructor" message="tns:IServicioInstructor_ListarInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioInstructor/ListarInstructorResponse" message="tns:IServicioInstructor_ListarInstructor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioInstructor" type="tns:IServicioInstructor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/InsertarInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/ActualizarInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/EliminarInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/ConsultarInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarInstructor">
      <soap:operation soapAction="http://tempuri.org/IServicioInstructor/ListarInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioInstructor">
    <wsdl:port name="BasicHttpBinding_IServicioInstructor" binding="tns:BasicHttpBinding_IServicioInstructor">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_ReservaYoga/ServicioInstructor/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>