WCF_ReservaYoga/WEB_ConsultaInstructor/Connected Services/ProxyInstructor/WCF_ReservaYoga.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InstructorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_inst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_inst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_ins" type="xs:short" />
      <xs:element minOccurs="0" name="EstadoInst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Instructor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_inst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_reg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstructorDC" nillable="true" type="tns:InstructorDC" />
  <xs:complexType name="ArrayOfInstructorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstructorDC" nillable="true" type="tns:InstructorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstructorDC" nillable="true" type="tns:ArrayOfInstructorDC" />
</xs:schema>