WEB_ConsultaInstructor/Connected Services/ProxyCliente/WCF_ReservaYoga.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dir_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_cli" type="xs:short" />
      <xs:element minOccurs="0" name="EstadoTexto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Cliente" type="xs:short" />
      <xs:element minOccurs="0" name="Id_Ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SexoTexto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_reg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDC" nillable="true" type="tns:ClienteDC" />
  <xs:complexType name="ArrayOfClienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteDC" nillable="true" type="tns:ClienteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteDC" nillable="true" type="tns:ArrayOfClienteDC" />
</xs:schema>