WCF_ReservaYoga/WEB_ConsultaInstructor/Connected Services/ProxyConsultaClase/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" />
  <xs:element name="ListarClasesProgramadasInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecIni" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClasesProgramadasInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ReservaYoga" minOccurs="0" name="ListarClasesProgramadasInstructorResult" nillable="true" type="q1:ArrayOfConsultaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>